.setting {
    padding: 0 0 20px 0;
  }

  .kintoneplugin-row {
    margin-bottom: 10px;
}

.kintoneplugin-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.status-section input,
.status-section textarea {
    width: 100%;
}